.body{
    font-family: "Barlow",sans-serif;
    background: #fffbf8;
  }
  .photographery{
    background-color: hsl(199, 100%, 69%);
  }
  .footer{
    background-color: hsl(167, 44%, 70%);
  }

  .client-testimonials{
    text-align: center;
    font-family: "Fraunces",serif;
    margin-bottom: 40px;
    
  }
  .client{
    padding: 15px;
    margin-bottom: 15px;
   
  }
  .client-testimonials-heading{
    padding-top: 40px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: hsl(210, 4%, 67%);

  }
  .testimonial-img{
    height: 90px;
    clip-path: circle(50% at 50% 50%);
  }
  .description-text{
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: hsl(213, 9%, 39%);
  }
  .phtography-text{
    color: hsl(212, 27%, 19%);
    font-weight: 900;
    margin-bottom: 0px;
  
  }
  .job-text{
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    color: hsl(210, 4%, 67%);
    margin-top: 12px;
  }

  @media (min-width:500px) {
    .all-clients{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .client{
      max-width: 450px;
    }
    .client-testimonials-heading{
      padding: 50px 10px;
      margin-top: 50px;
    }
    .description-text{
      padding-top: 40px;
      padding-bottom: 50px;
    }
    .client-testimonials{
      padding-bottom: 50px;
      padding-right: 50px;
      padding-left: 50px;
    }
  }

  @media (min-width:800px) {
    .all-clients{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .client{
      max-width: 350px;
    }
    .client-testimonials-heading{
      padding: 50px 10px;
      margin-top: 50px;
    }
    .description-text{
      padding-top: 40px;
      padding-bottom: 50px;
    }
    .client-testimonials{
      padding-bottom: 50px;
      padding-right: 50px;
      padding-left: 50px;
    }
  }
